<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Coders Tech - Innovative Software Solutions</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/landing.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css" />
    <!-- Font Awesome icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-KyZXEAg3QhqLMpG8r+Knujsl5+z0I5t9g8P1ZL+bcfQi/bPo2w+QFc20FOdM70VR+It23ZUq5QF+8bDD3pZ5A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- Custom styles for this template -->
    <style>
      /* Testimonial Section Styles */
      #testimonials {
        background-color: #0023508c;
        color: #fff;
        padding: 80px 0;
      }

      .testimonial {
        min-height: 50vh !important;
        background-color: #001f3f;
        padding: 20px;
        border-radius: 8px;
        text-align: center;
        transition: transform 0.3s ease-in-out;
      }

      .testimonial:hover {
        transform: scale(1.05);
      }

      .testimonial img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 20px;
      }

      .testimonial h5 {
        color: #ffba5c;
        margin-bottom: 10px;
      }

      .testimonial p {
        font-style: italic;
      }

      /* Responsive Testimonial Styles */
      @media (max-width: 767px) {
        .testimonial {
          margin-bottom: 30px;
        }
      }

      body {
        background-image: url("/assets/images/9067193.jpg");
        background-size: 100%;
        padding-top: 56px;
        color: #fff;
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-color: #004080 #001f3f;
      }
      @media (max-width: 767px) {
        body {
          overflow-x: hidden; /* Hide horizontal scrollbar on small devices */
        }
      }
      ::-webkit-scrollbar {
        width: 6px;
      }

      ::-webkit-scrollbar-thumb {
        background-color: #004080;
      }

      ::-webkit-scrollbar-track {
        background-color: #001f3f;
      }
      @media (max-width: 767px) {
        .container {
          padding-right: 0;
          padding-left: 0;
          margin-right: auto;
          margin-left: auto;
        }
      }
      @media (min-width: 992px) {
        body {
          padding-top: 76px;
        }
      }

      .navbar {
        background-color: #021222;
      }

      .header {
        background: url("header-background.jpg") center/cover;
        color: #fff;

        text-align: center;
      }

      .feature {
        padding: 80px 0;
        text-align: center;
        background-color: #000f34a0;
        color: #fff;
      }

      .carousel-inner img {
        width: 50%;
        height: 70vh;
        object-fit: cover;
      }

      .cta {
        background-color: #0023508c;
        color: #fff;
        padding: 60px 0;
        text-align: center;
      }

      .technologies {
        background-color: #0023508c;
        color: #fff;
        padding: 80px 0;
      }

      .technology-icons {
        font-size: 3em;
        margin: 0.5em;
      }

      .services {
        background-color: #0023508c;
        color: #fff;
        padding: 80px 0;
      }
      .footer {
        background-color: #04162ef3;
      }
      .parallax {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
      }

      .parallax-content {
        background-color: rgba(0, 32, 63, 0.7);
        padding: 20px;
        border-radius: 8px;
      }

      /* Responsive padding/margin utility classes */
      .pt-lg-5,
      .pt-lg-5 {
        padding-top: 3rem !important;
      }

      .pb-lg-5,
      .pb-lg-5 {
        padding-bottom: 3rem !important;
      }

      .mb-lg-5,
      .mb-lg-5 {
        margin-bottom: 3rem !important;
      }
      .title {
        color: rgb(255, 184, 92);
      }
    </style>
  </head>

  <body class="">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
      <div class="container title">
        <a class="navbar-brand" href="#" style="color: rgb(255, 184, 92)"
          >Coders Tech</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#features">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#technologies">Technologies</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/login">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Header -->
    <header class="header">
      <div class="container">
        <h1 class="display-4">Innovative Software Solutions</h1>
        <p class="lead">
          Empowering businesses through cutting-edge technology
        </p>
      </div>
    </header>
    <!-- Image Carousel Section -->
    <section id="imageCarousel" class="mb-lg-5">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div
              id="carouselExample"
              class="carousel slide"
              data-bs-ride="carousel"
            >
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    src="/assets/images/c1.jpg"
                    class="d-block w-100"
                    alt="Carousel Image 1"
                  />
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Slide 1</h5>
                    <p>
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                      Nobis est quidem illo praesentium molestias odit sapiente
                      soluta ratione. Est, iste
                    </p>
                  </div>
                </div>
                <div class="carousel-item">
                  <img
                    src="/assets/images/c2.jpg"
                    class="d-block w-100"
                    alt="Carousel Image 2"
                  />
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Slide 2</h5>
                    <p>
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                      Nobis est quidem illo praesentium molestias odit sapiente
                      soluta ratione. Est, iste.
                    </p>
                  </div>
                </div>
                <div class="carousel-item">
                  <img
                    src="/assets/images/c3.png"
                    class="d-block w-100"
                    alt="Carousel Image 3"
                  />
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Slide 3</h5>
                    <p>
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                      Nobis est quidem illo praesentium molestias odit sapiente
                      soluta ratione. Est, iste
                    </p>
                  </div>
                </div>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExample"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExample"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Features Section -->
    <section id="features" class="feature">
      <div class="container">
        <h2 class="mb-5 font-weight-bold title">Our Expertise</h2>
        <div class="row">
          <div class="col-lg-4">
            <h2>Web Development</h2>
            <img
              src="/assets/images/8-2-web-development-png-file.png"
              alt="Web Development Image"
              class="img-fluid w-50 mb-4"
            />
            <p>
              Build modern, responsive websites tailored to your business needs.
            </p>
          </div>
          <div class="col-lg-4">
            <h2>Mobile Apps</h2>
            <img
              src="/assets/images/mobile app.png"
              alt="Mobile Apps Image"
              class="img-fluid w-50 mb-4"
            />
            <p>
              Create powerful mobile applications for iOS and Android platforms.
            </p>
          </div>
          <div class="col-lg-4">
            <h2>Cloud Solutions</h2>
            <img
              src="/assets/images/cloud dev.png"
              alt="Cloud Solutions Image"
              class="img-fluid w-50 mb-4"
            />
            <p>
              Utilize scalable and secure cloud services for your applications.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Technologies Section -->
    <section id="technologies " class="technologies">
      <div class="container">
        <h2 class="text-center mb-5 title">Technologies We Use</h2>
        <div class="row text-center">
          <div class="col-lg-3 mb-lg-5">
            <img
              src="/assets/images/html.png"
              alt="HTML5 Logo"
              class="img-fluid w-30 technology-icons"
            />
            <h4 class="mt-3 title">HTML5</h4>
            <p>
              Build the structure of your web pages with the latest HTML5
              standards.
            </p>
          </div>
          <div class="col-lg-3 mb-lg-5">
            <img
              src="/assets/images/css.png"
              alt="CSS3 Logo"
              class="img-fluid w-30 technology-icons"
            />
            <h4 class="mt-3 title">CSS3</h4>
            <p>
              Add style and design to your websites using the power of CSS3.
            </p>
          </div>
          <div class="col-lg-3 mb-lg-5">
            <img
              src="/assets/images/js.png"
              alt="JavaScript Logo"
              class="img-fluid w-30 technology-icons"
            />
            <h4 class="mt-3 title">JavaScript</h4>
            <p>
              Create dynamic and interactive web pages with the flexibility of
              JavaScript.
            </p>
          </div>
          <div class="col-lg-3 mb-lg-5">
            <img
              src="/assets/images/nodejs.png"
              alt="Node.js Logo"
              class="img-fluid w-30 technology-icons"
            />
            <h4 class="mt-3 title">Node.js</h4>
            <p>
              Build scalable and server-side applications using the power of
              Node.js.
            </p>
          </div>
          <!-- Add more technologies as needed -->
        </div>
      </div>
    </section>
    <!-- Testimonial Section -->
    <section id="testimonials" class="mb-lg-5">
      <div class="container">
        <h2 class="mb-5 text-center font-weight-bold title">
          Client Testimonials
        </h2>
        <div class="row">
          <div class="col-lg-4">
            <div class="testimonial">
              <img
                src="/assets//images/user-picture.png"
                alt="Client 1"
                class="mb-3"
              />
              <h5>xyz</h5>
              <p>
                "Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Voluptatibus architecto tempore eaque. Doloremque iste quidem
                provident tenetur libero similique consectetur?"
              </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial">
              <img
                src="/assets//images/user-picture.png"
                alt="Client 2"
                class="mb-3"
              />
              <h5>abc</h5>
              <p>
                "Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Similique, quisquam sint? Velit voluptatibus neque consectetur
                voluptate at, explicabo odio ducimus.
              </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial">
              <img
                src="/assets//images/user-picture.png"
                alt="Client 3"
                class="mb-3"
              />
              <h5>Mkl</h5>
              <p>
                "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque
                iusto quos accusantium cumque dicta aut ex vitae tenetur animi
                totam?"
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Services Section with Parallax Effect -->
    <section
      id="services"
      class="parallax"
      style="background-image: url('parallax-background.jpg')"
    >
      <div class="container parallax-content">
        <h2 class="mb-4 title">Our Services</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam rem
          delectus doloribus asperiores magnam et possimus minima similique.
          Aperiam, dignissimos! We provide a wide range of services to meet your
          software needs, from custom web development to mobile app solutions.
          Our goal is to deliver innovative and tailored solutions that drive
          your business forward. Lorem ipsum dolor sit amet, consectetur
          adipisicing elit. Est sapiente facere, ea debitis ipsam unde quos,
          veniam pariatur qui quibusdam praesentium. Quaerat fugit facere omnis
          quia nam itaque ab dolore!
        </p>
      </div>
    </section>

    <!-- Call to Action -->
    <section class="cta">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2 class="section-heading title">
              Ready to Transform Your Business?
            </h2>
            <p>
              Contact us now to discuss how Coders Tech can elevate your digital
              presence. Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Culpa natus ratione nihil non consequuntur veniam soluta.
              Doloribus incidunt nisi quis ipsum pariatur. Corporis eaque
              temporibus est enim in aliquam reprehenderit.
            </p>
            <a href="/users/login" class="btn btn-light btn-xl">Contact Us</a>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer Section -->
    <footer class="footer text-white p-4">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <p class="text-start title">
              &copy; 2023 Coders Tech. All rights reserved. | Designed by
              Vaibhav Dixit
            </p>
          </div>
          <div class="col-lg-6">
            <p class="text-end title">
              Address: Babu Banarsi Das University, Lucknow,u.p
            </p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
  </body>
</html>
